

html, body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Visor a la izquierda */
#visor {
  width: 75%;
  height: 100%;
  background-color: black;
}
#precarga{
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  height: 100%;
  background-color: blue;
}
.pre{

  width: 50%;
  height: auto;
  background-color: orange;
}
/* Galería a la derecha */
.gallery {
  width: 25%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.gallery .contenedor {
  justify-content: center;
  align-items: center;
  width: 33%;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-color: lightblue;
  border-radius: 8px;
}

/* Estilo de imagen */
.gallery img {
  height: auto;
  width: 95%;
  margin: 3px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
  display: block;
}

#precarga{
  display: none;
}

.gallery img:hover {
  transform: scale(1.02);
}
