.git
frontend/imagenes/dzi
frontend/imagenes/miniaturas
frontend/imagenes/originales
frontend/audios
frontend/MagickSlicer
frontend/prueba.html
backend/node_modules
backend/prueba.js
backend/miniaturas.py
backend/tempCodeRunnerFile.js
ven