.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery .contenedor{
    padding: 5px;
    background-color: lightblue; 
    border-radius: 8px;
    display: flex;
    justify-content: center; /* Eje horizontal */
    align-items: center;     /* Eje vertical */
}

/* Aplica a las imágenes */
.gallery img {
    width: 150px;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
}