[Unit]
Description=sirve_pagina_web
After=multi-user.target
After=network.target

[Service]

# Ruta del usuario y entorno
Type=simple
WorkingDirectory=/home/iadersneider/pagina_web



# Ejecuta el script usando el python del entorno virtual
ExecStart= /usr/bin/python3 backend/servidores/server_audio.py

# Reiniciar automáticamente si se cae
Restart=always
RestartSec=5

# (Opcional) Redirigir salida a un log
StandardOutput=append:/var/log/miapp.log
StandardError=append:/var/log/miapp.err

[Install]
WantedBy=multi-user.target